## Add API key
API_KEY.txt

## working file
api_request

## Ignore utility bill data
data/electricity_FY13_23.csv
data/FY23_Electric_Data_Campus_Houses_edited.xlsx

## Ignore cache
.pytest_cache/
__pycache__/
.ipynb_checkpoints/
tests/__pycache__/

# VS Code files
.vscode/
